{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<h1>About Page</h1>
        <hr>
        <div>
            <p>
            The title of this project is EncryptoZ for Private Data.
             The purpose of this project is to develop the program to encrypt and decrypt  of the data i.e.,
            images and text file. The major concentration is focus on 
            application of data encryption and decryption system development. 
            The program coding is written by using the python programming language.
             The security systems may establish for enhance the protection on the data information by encryption.</br>
             Meanwhile, the decryption system of this software is used as a decoding tool for reconstruct and
             recover the encrypted information of data. In addition, this project is also complete with data to
             receive and send the information after encryption and decryption system. Finally, the
             security level is improved via the Data encryption and Decryption system..
              Over the last decade there 
            has been an unprecedented explosion in the amount of digital data
             transmitted via the Internet representing text, images, computer programs, etc.
             With this trend expected to continue it makes sense to pursue research on developing
             algorithms that can most effectively use available network bandwidth by maximally compressing data.
             It is also important to consider the security aspects of the data being transmitted while 
            compressing it as most of the text data transmitted over the Internet is very much 
            vulnerable to a multitude of attacks thats why we are using the two way authentication.This will 
            make ensure that our data is safe.
            </p>
        </div>
	</div>
{% endblock content %}
