{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      
        <form method="POST" action="" >
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.enc_key.label() }}
                    {{ form.enc_key(class="form-control-file") }}
                    {% if form.enc_key.errors %}
                        {% for error in form.enc_key.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
			</fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}
